<h1>Article#index</h1>
<p>Find me in app/views/article/index.html.erb</p>
<ul>
<%- @articles.each do |article|%>
    <% if article.visible = true %>
<p>
<%= link_to "#{article.id} - #{article.title} - #{article.comments.count} comments - #{article.visible}", article %>
</p>
<%- end %>
<%- end%>
<li></li>
</ul>
